body {
  background-color: black;
}

.post {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.post-header {
  display: flex;
  background: white;
  width: 390px;
  padding: 10px 5px;
}

.marker {
  display: flex;
  justify-content: flex-end;
  width: 290px;
}

.name {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.post-body {
  display: flex;
  background: white;
  flex-wrap: wrap;
  width: 390px;
  padding: 5px;
}
img {
  height: 500px;
  width: 400px;
  margin: 0px;
}

.marker {
    width: 330px;
    justify-content: flex-end;
}

.post-icons {
    display: flex;
    padding: 1px;
}