body {
  background-color: black;
}

.post {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.post-header {
  display: flex;
  background: white;
  width: 390px;
  padding: 5px;
  align-items: center;
}

.marker1 {
  display: flex;
  justify-content: flex-end;
  width: 270px;
}

.post-icons > i {
  padding: 1px;
}
.post-icons {
  display: flex;
  justify-content: flex-end;
}

.marker {
  display: flex;
  justify-content: flex-end;
  width: 330px;
}

.name {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.post-body {
  display: flex;
  background: white;
  flex-wrap: wrap;
  width: 390px;
  padding: 5px;
}

img {
  height: 500px;
  width: 400px;
}
